body {
  background: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #263849;
}
.weather-app {
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
main {
  padding: 30px 0;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.search-button {
  background: #263849;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.temp {
  display: flex;
  justify-content: space-between;
}

.temp-extra-details {
  text-align: center;
}
.city {
  color: #070f4e;
  font-size: 60px;
  line-height: 48px;
  text-align: center;
  padding: 0 15px 15px 15px;
  margin: 0 10px 10px 10px;
}
.date-time {
  text-align: center;
  font-size: 16px;
  margin: 0;
  color: rgba(39, 33, 66, 0.5);

  font-weight: 500;
}
.temp-details {
  display: flex;
}
.temp-value {
  font-size: 80px;
  margin-left: 100px;
  font-weight: bold;
  margin-top: 20px;
}
.temp-unit {
  margin-top: 35px;
  font-size: 26px;
}
.temp-icon {
  display: block;
  margin: 0 auto;
}
.temp-extra-details strong {
  color: #35bcbf;
}
.conditions {
  font-size: 30px;
}
.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
